//Mixins
@mixin image-content {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

@mixin flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

@mixin overlay-2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(172, 8, 8, 0.5);
  z-index: 100;
}

//Buttons
.btn-primary {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  border: 2px solid $light-color;
  border-radius: 30px;
  color: $light-color;
  transition: all 0.3s ease-in;
  cursor: pointer;
  font-family: $secondary-font;

  &:hover {
    background: $light-color;
    color: #333;
  }
}

.btn-secondary {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  border: 2px solid #333;
  border-radius: 30px;
  color: #333;
  transition: all 0.3s ease-in;
  cursor: pointer;
  font-family: $secondary-font;

  &:hover {
    background: #333;
    color: $light-color;
  }
}

.btn-close {
  cursor: pointer;
  color: #f4f4f4;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.7rem;
  transition: all 0.3s ease-in;

  &:hover {
    transform: scale(1.08);
  }
}

.btn-close-secondary {
  cursor: pointer;
  color: #333;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.7rem;
  transition: all 0.3s ease-in;

  &:hover {
    transform: scale(1.08);
  }
}
