//Fonts
$primary-font: "Roboto Mono", monospace;
$secondary-font: "Poppins", sans-serif;

//Colors
//$primary-color: #ff704d;
//$primary-color: #a64dff;
//$primary-color: #b30000;
//$primary-color: rgb(184, 97, 48);
$primary-color: rgb(224, 96, 63);
$secondary-color: #595959;
$light-color: #f4f4f4;
