@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Header
.header {
  background: url("../img/gym-3.jpg") no-repeat center center/cover;
  height: 100vh;
  margin-top: -100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  text-align: center;
  z-index: 20;

  .overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .logo {
    background: $primary-color;
    padding: 2.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 3.8rem;
      color: #fff;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: 700;
    }

    .tinny-letter {
      font-size: 3.5rem;
      color: $light-color;
      font-family: $primary-font;
      font-weight: 100;
    }
  }

  h2 {
    color: #c6c6c6;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: $secondary-font;
    letter-spacing: 2px;
  }

  p {
    text-transform: uppercase;
    color: $primary-color;
    font-size: 1.05rem;
  }
}

//Navbar
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 85vh;
  height: 15vh;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;

  ul {
    list-style: none;
    display: flex;

    a {
      margin: 0 1rem;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $secondary-font;
      font-weight: 100;
      color: $light-color;
      padding: 0.4rem 1.5rem;
      border: 1px $primary-color solid;
      border-radius: 30px;
      transition: all 0.3s ease-out;
      opacity: 0.7;

      &:hover {
        color: #fff;
        border-color: #c6c6c6;
        opacity: 1;
      }
    }
  }
}

//About
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

  .about-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 6rem;
    text-align: center;
    background: #555;

    h1 {
      font-size: 3rem;
      font-family: $secondary-font;
      margin-bottom: 2rem;
      color: #888;
      font-weight: 100;
    }

    p {
      margin-bottom: 1rem;
      color: #f4f4f4;
      font-family: $secondary-font;
    }
  }

  .image {
    background: url("../img/gym-1.jpg") no-repeat center center/cover;
    height: 100%;
  }
}

//Team
.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;

  @mixin image-content {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
  }

  @mixin overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  @mixin overlay-2 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(172, 8, 8, 0.5);
    z-index: 100;
  }

  .team-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #c6c6c6;

    h2 {
      text-transform: uppercase;
      font-family: $secondary-font;
      color: #666;
    }
  }

  .image-1 {
    background: url("../img/trainer-5.jpg") no-repeat center center/cover;
    @include image-content;
    &:before {
      @include overlay;
    }
  }

  .image-2 {
    background: url("../img/trainer-4.jpg") no-repeat center center/cover;
    @include image-content;
    &:before {
      @include overlay;
    }
  }

  .image-3 {
    background: url("../img/trainer-1.jpg") no-repeat center center/cover;
    @include image-content;

    &:before {
      @include overlay;
    }
  }
}

//Train
.train {
  height: 60vh;
  display: grid;
  grid-template-columns: 50% 25% 25%;

  .train-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    text-align: center;
    background: #555;

    h1 {
      font-size: 3rem;
      font-family: $secondary-font;
      margin-bottom: 1rem;
      color: #888;
      font-weight: 100;
    }

    p {
      margin-bottom: 1rem;
      color: #f4f4f4;
      font-family: $secondary-font;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(0.94);
    }

    i {
      font-size: 6rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-family: $secondary-font;
    }
  }

  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #d9d9d9;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(0.94);
    }

    i {
      font-size: 6rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-family: $secondary-font;
    }
  }
}

//Train 2
.train-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60vh;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(0.94);
    }

    i {
      font-size: 6rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-family: $secondary-font;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(0.94);
    }

    i {
      font-size: 6rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-family: $secondary-font;
    }
  }

  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(0.94);
    }

    i {
      font-size: 6rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-family: $secondary-font;
    }
  }

  div:nth-child(4) {
    background: #555;
  }
}

//Community
.community {
  background: $primary-color;
  color: #f4f4f4;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: 100;
  }
}

//Connect
.connect {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .connect-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #c6c6c6;

    h2 {
      text-transform: uppercase;
      font-family: $secondary-font;
      color: #666;
    }
  }

  .social-media-a {
    background: #333;
    @include flexbox;
    position: relative;

    h3 {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #c6c6c6;
    }

    div {
      display: flex;
    }

    .round {
      height: 65px;
      width: 65px;
      background: $primary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.6rem;
      cursor: pointer;
      border: 4px $primary-color solid;
      transition: all 0.4s ease-in;
      color: #333;

      &:hover {
        background: transparent;
        color: $primary-color;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  .social-media-b {
    background: #222;
    @include flexbox;
    position: relative;

    h3 {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #c6c6c6;
    }

    div {
      display: flex;
    }

    .round {
      height: 65px;
      width: 65px;
      background: $primary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.6rem;
      cursor: pointer;
      border: 4px $primary-color solid;
      transition: all 0.4s ease-in;
      color: #222;

      &:hover {
        background: transparent;
        color: $primary-color;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  .social-media-c {
    background: #3333ff;
    @include flexbox;
    position: relative;

    h3 {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #c6c6c6;
    }

    div {
      display: flex;
    }

    .round {
      height: 65px;
      width: 65px;
      background: #222;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.6rem;
      cursor: pointer;
      border: 4px #222 solid;
      transition: all 0.4s ease-in;
      color: #3333ff;

      &:hover {
        background: transparent;
        color: #222;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }
}

//Contact
.contact {
  background: #555;
  color: #888;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: 100;
  }
}

//Contact 2
.contact-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60vh;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #d9d9d9;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(0.96);
    }

    div {
      position: absolute;
      top: 20px;
      left: 20px;

      h4 {
        text-transform: uppercase;
        margin-bottom: 0.3rem;
        color: $primary-color;
      }
    }

    i {
      font-size: 3rem;
      color: #222;
    }
  }

  .item:nth-child(2) {
    background: #e6e6e6;
  }
}

//Footer
.footer {
  padding: 2rem 3rem;
  background: #222;
  color: #c6c6c6;
}
