* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: url("../img/gym-3.jpg") no-repeat center center/cover;
  height: 100vh;
  margin-top: -100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  text-align: center;
  z-index: 20;
}

.header .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header .logo {
  background: #a64dff;
  padding: 2.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header .logo h1 {
  font-size: 3.8rem;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}

.header .logo .tinny-letter {
  font-size: 3.5rem;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

.header h2 {
  color: #c6c6c6;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.header p {
  text-transform: uppercase;
  color: #a64dff;
  font-size: 1.05rem;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 85vh;
  height: 15vh;
  background: #a64dff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul a {
  margin: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #f4f4f4;
  padding: 0.4rem 1.5rem;
  border: 1px #a64dff solid;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  opacity: 0.7;
}

.navbar ul a:hover {
  color: #fff;
  border-color: #c6c6c6;
  opacity: 1;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  text-align: center;
  background: #555;
}

.about .about-content h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
  color: #888;
  font-weight: 100;
}

.about .about-content p {
  margin-bottom: 1rem;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.about .image {
  background: url("../img/gym-1.jpg") no-repeat center center/cover;
  height: 100%;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
}

.team .team-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #c6c6c6;
}

.team .team-content h2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #666;
}

.team .image-1 {
  background: url("../img/trainer-1.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.team .image-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.team .image-2 {
  background: url("../img/trainer-2.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.team .image-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.team .image-3 {
  background: url("../img/trainer-1.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.team .image-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.train {
  height: 60vh;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.train .train-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  text-align: center;
  background: #555;
}

.train .train-content h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  color: #888;
  font-weight: 100;
}

.train .train-content p {
  margin-bottom: 1rem;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.train div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.train div:nth-child(2):hover {
  transform: scale(0.94);
  opacity: 0.8;
}

.train div:nth-child(2) i {
  font-size: 8rem;
  color: #a64dff;
  margin-bottom: 1.5rem;
}

.train div:nth-child(2) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #d9d9d9;
  transition: all 0.4s ease-in;
}

.train div:nth-child(3):hover {
  transform: scale(0.94);
  opacity: 0.8;
}

.train div:nth-child(3) i {
  font-size: 8rem;
  color: #a64dff;
  margin-bottom: 1.5rem;
}

.train div:nth-child(3) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60vh;
}

.train-2 div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.train-2 div:nth-child(1):hover {
  transform: scale(0.94);
  opacity: 0.8;
}

.train-2 div:nth-child(1) i {
  font-size: 8rem;
  color: #a64dff;
  margin-bottom: 1.5rem;
}

.train-2 div:nth-child(1) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.train-2 div:nth-child(2):hover {
  transform: scale(0.94);
  opacity: 0.8;
}

.train-2 div:nth-child(2) i {
  font-size: 8rem;
  color: #a64dff;
  margin-bottom: 1.5rem;
}

.train-2 div:nth-child(2) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.train-2 div:nth-child(3):hover {
  transform: scale(0.94);
  opacity: 0.8;
}

.train-2 div:nth-child(3) i {
  font-size: 8rem;
  color: #a64dff;
  margin-bottom: 1.5rem;
}

.train-2 div:nth-child(3) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 div:nth-child(4) {
  background: #555;
}

.community {
  background: #a64dff;
  color: #f4f4f4;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.community h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.connect {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.connect .connect-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #c6c6c6;
}

.connect .connect-content h2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #666;
}

.connect div:nth-child(2) {
  background: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.connect div:nth-child(2) h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c6c6c6;
}

.connect div:nth-child(3) {
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.connect div:nth-child(3) h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c6c6c6;
}

.connect div:nth-child(4) {
  background: #3333ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.connect div:nth-child(4) h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c6c6c6;
}
/*# sourceMappingURL=main.css.map */