/*@mixin overlay-2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(172, 8, 8, 0.5);
  z-index: 100;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 400;
  cursor: pointer;
  display: none;
}

.hamburger .line {
  height: 3px;
  width: 30px;
  background: #e0603f;
  margin-bottom: 5px;
  border-radius: 30%;
}

.header {
  background: url("../img/gym-3.jpg") no-repeat center center/cover;
  height: 100vh;
  margin-top: -100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  text-align: center;
  z-index: 20;
}

.header .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header .logo {
  background: #e0603f;
  padding: 2.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header .logo h1 {
  font-size: 3.8rem;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}

.header .logo .tinny-letter {
  font-size: 3.5rem;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

.header h2 {
  color: #c6c6c6;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.header p {
  text-transform: uppercase;
  color: #e0603f;
  font-size: 1.05rem;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 85vh;
  height: 15vh;
  background: #e0603f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.navbar .close {
  display: none;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul a {
  margin: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #f4f4f4;
  padding: 0.4rem 1.5rem;
  border: 1px #e0603f solid;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  opacity: 0.7;
}

.navbar ul a:hover {
  color: #fff;
  border-color: #c6c6c6;
  opacity: 1;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about .about-content {
  height: 100%;
  padding: 2rem 4rem;
  text-align: center;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .about-content h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
  color: #888;
  font-weight: 100;
}

.about .about-content p {
  margin-bottom: 1rem;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.about .image {
  background: url("../img/gym-1.jpg") no-repeat center center/cover;
  height: 100%;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team .team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c6c6c6;
  height: 50vh;
}

.team .team-content h2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #666;
}

.team .image-1 {
  background: url("../img/trainer-5.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 50vh;
}

.team .image-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.team .image-2 {
  background: url("../img/trainer-4.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 50vh;
}

.team .image-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.team .image-3 {
  background: url("../img/trainer-1.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 50vh;
}

.team .image-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.train {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.train .train-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 3rem;
  text-align: center;
  background: #555;
  height: 60vh;
}

.train .train-content h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  color: #888;
  font-weight: 100;
}

.train .train-content p {
  margin-bottom: 1rem;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.train div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 60vh;
}

.train div:nth-child(2):hover {
  transform: scale(0.94);
}

.train div:nth-child(2) i {
  font-size: 6rem;
  color: #e0603f;
  margin-bottom: 1.5rem;
}

.train div:nth-child(2) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #d9d9d9;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 60vh;
}

.train div:nth-child(3):hover {
  transform: scale(0.94);
}

.train div:nth-child(3) i {
  font-size: 6rem;
  color: #e0603f;
  margin-bottom: 1.5rem;
}

.train div:nth-child(3) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.train-2 div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s ease-in;
  height: 60vh;
}

.train-2 div:nth-child(1):hover {
  transform: scale(0.94);
}

.train-2 div:nth-child(1) i {
  font-size: 6rem;
  color: #e0603f;
  margin-bottom: 1.5rem;
}

.train-2 div:nth-child(1) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  cursor: pointer;
  transition: all 0.3s ease-in;
  height: 60vh;
}

.train-2 div:nth-child(2):hover {
  transform: scale(0.94);
}

.train-2 div:nth-child(2) i {
  font-size: 6rem;
  color: #e0603f;
  margin-bottom: 1.5rem;
}

.train-2 div:nth-child(2) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s ease-in;
  height: 60vh;
}

.train-2 div:nth-child(3):hover {
  transform: scale(0.94);
}

.train-2 div:nth-child(3) i {
  font-size: 6rem;
  color: #e0603f;
  margin-bottom: 1.5rem;
}

.train-2 div:nth-child(3) h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.train-2 div:nth-child(4) {
  background: #555;
  height: 60vh;
}

.community {
  background: #e0603f;
  color: #f4f4f4;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.community h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.connect {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.connect .connect-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #c6c6c6;
  height: 50vh;
}

.connect .connect-content h2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #666;
}

.connect .social-media-a {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.connect .social-media-a h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c6c6c6;
}

.connect .social-media-a div {
  display: flex;
}

.connect .social-media-a .round {
  height: 65px;
  width: 65px;
  background: #e0603f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
  cursor: pointer;
  border: 4px #e0603f solid;
  transition: all 0.4s ease-in;
  color: #333;
}

.connect .social-media-a .round:hover {
  background: transparent;
  color: #e0603f;
}

.connect .social-media-a .round i {
  font-size: 1.5rem;
}

.connect .social-media-b {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.connect .social-media-b h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c6c6c6;
}

.connect .social-media-b div {
  display: flex;
}

.connect .social-media-b .round {
  height: 65px;
  width: 65px;
  background: #e0603f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
  cursor: pointer;
  border: 4px #e0603f solid;
  transition: all 0.4s ease-in;
  color: #222;
}

.connect .social-media-b .round:hover {
  background: transparent;
  color: #e0603f;
}

.connect .social-media-b .round i {
  font-size: 1.5rem;
}

.connect .social-media-c {
  background: #3333ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.connect .social-media-c h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c6c6c6;
}

.connect .social-media-c div {
  display: flex;
}

.connect .social-media-c .round {
  height: 65px;
  width: 65px;
  background: #222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
  cursor: pointer;
  border: 4px #222 solid;
  transition: all 0.4s ease-in;
  color: #3333ff;
}

.connect .social-media-c .round:hover {
  background: transparent;
  color: #222;
}

.connect .social-media-c .round i {
  font-size: 1.5rem;
}

.contact {
  background: #555;
  color: #888;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.contact-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60vh;
}

.contact-2 .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.contact-2 .item:hover {
  transform: scale(0.96);
}

.contact-2 .item div {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contact-2 .item div h4 {
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  color: #e0603f;
}

.contact-2 .item i {
  font-size: 3rem;
  color: #222;
}

.contact-2 .item:nth-child(2) {
  background: #e6e6e6;
}

.footer {
  padding: 2rem 3rem;
  background: #222;
  color: #c6c6c6;
}

.btn-train-1-content {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 300;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.btn-train-1-content .btn-close {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn-train-2-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  color: #fff;
  background: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.btn-train-2-content .btn-close {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn-train-3-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.btn-train-3-content .btn-close {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn-train-4-content {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 300;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.btn-train-4-content .btn-close {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn-train-5-content {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 300;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.btn-train-5-content .btn-close {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 5%;
  right: 5%;
}

.active {
  transform: translateX(0%);
}

@media (max-width: 950px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 50%;
    background: #222;
    margin-top: 0px;
    z-index: 500;
    transform: translateX(100%);
    transition: all 0.4s ease-in;
  }
  .navbar .close {
    display: block;
    color: #c6c6c6;
    text-transform: uppercase;
    position: absolute;
    top: 3%;
    right: 15%;
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
    font-weight: 400;
  }
  .navbar .close:hover {
    color: #e0603f;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .navbar ul a {
    margin: 2rem 1rem;
    border: 1px #222 solid;
    display: inline-block;
  }
  .navbar ul a:hover {
    color: #fff;
    border-color: #c6c6c6;
    opacity: 1;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .header {
    margin-top: 0;
  }
  .hamburger {
    display: block;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about .about-content {
    height: 100vh;
  }
  .about .image {
    height: 100vh;
  }
  .team {
    grid-template-columns: 1fr 1fr;
  }
  .team .team-content,
  .team .image-1 {
    order: 1;
  }
  .team .image-2,
  .team .image-3 {
    order: 2;
  }
  .train {
    grid-template-columns: 1fr 1fr;
  }
  .train .train-content {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .train-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */